* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} 


.countryCard{
    margin: 0 auto;
    width: 250px;
    border: solid 1px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .image{
    width: 100%;
    height: 50%;
    padding: 0;
  }